@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Book An Appointment</h1>
        <p class="lead">It's time to skip the waiting room.With Doctor, you'll be able to book an appointment with a fully vetted doctor .You can book an appointment and visit my clinic.</p>
        <p><a href="/Appointment/create" class="btn btn-default">Start &raquo;</a></p>
    </div>

   